services:
  web:
    image: docklaravel:latest
    build:
      target: web
      context: .
    env_file:
      - .env
    ports:
      - "8000:80"
    depends_on:
      - db
    volumes:
      - ./webfiles:/webfiles

  db:
    image: mariadb:12
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql

volumes:
  dbdata:
