services:
  web:
    image: ghcr.io/sjohal21/team52-nova52:latest
    env_file:
      - .env
    ports:
      - "8000:80"
    depends_on:
      - db
    volumes:
      - ./webfiles:/webfiles
      - ./webfiles/storage/public:/var/www/html/storage/app/public
      - ./webfiles/storage/private:/var/www/html/storage/app/private

  db:
    image: mariadb:12
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - ./dbdata:/var/lib/mysql
